.navbar-notification
  position relative
  cursor pointer
  outline none
  font-size 9pt

.navbar-notification-title-error
  color $error-color

.navbar-notification-title-icon
  margin-right 20px
  font-size 9pt

.navbar-notification-icon
  font-size 24px

.navbar-notification-content
  padding 0px
  color $

.navbar-notification-count
  font-size 8pt
  background-color $error-color
  border-radius 6px
  width 12px
  height 12px
  text-align center
  line-height 12px
  position absolute
  right -2px
  top 0px

.navbar-notification-separator
  background-color $list-separator-color
  height 1px
  margin 5px 20px
